@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@font-face {
  font-family: "PatuaOne";
  src: url("../font/PatuaOne-Regular.otf");
  src: url("../font/patuaone-regular-webfont.woff") format("woff"),
    url("../font/PatuaOne-Regular.otf") format("opentype");
}

::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  background: #7d6556;
}

::-webkit-scrollbar-thumb {
  background: #efcb5e;
}

* {
  font-family: "Pangolin", cursive;
  scroll-behavior: smooth;
}
/* 
COLORS
[7d6556, bca49d, fbe3e3, dfd3d3, c3c3c3, d9c791, efcb5e]
*/

/* SHARED CSS */
html,
body {
  margin: 0;
  padding: 0;
  background: url("../images/bg.jpg");
}
.divider {
  height: 3px;
  background: transparent url("../images/divider.png") repeat-x 50% 50%;
  margin: 35px;
  border: 0;
}
.logo {
  width: 150px;
  margin: auto;
}
header .logo img {
  max-width: 100%;
  margin: auto;
}
nav {
  text-align: center;
}

nav li,
nav ul {
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  font-family: "Leckerli One", cursive;
}
.mobile-nav {
  margin-bottom: 3em;
}
.mobile-nav li {
  background-color: #7d6556;
  padding: 1em;
  margin: 0.5em 0;
}
.mobile-nav a {
  color: white;
  font-size: 1.6em;
}
.brand_image {
  text-align: center;
  max-width: 1000px;
  margin: auto;
  position: relative;
}
.slides {
  text-align: center;
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease-in-out;
}
.slide-img {
  background-size: contain;
  background-repeat: no-repeat;
}
.slides img {
  max-width: 100%;
  border-radius: 0.5em;
  box-shadow: 1px 1px 11px 3px #1f1212;
}
.slide-control {
  margin: 1em 0;
  text-align: center;
  cursor: pointer;
}
.slide-control img {
  width: 2em;
  margin: 0 2em;
}
.slide-next img {
  transform: rotate(180deg);
}
.wrapper {
  display: flex;
  max-width: 1000px;
  margin: auto;
}
.main {
  text-align: center;
  width: 80%;
  margin: auto;
}
.product {
  margin-bottom: 2em;
}
.product-img {
  width: 60%;
  margin: auto;
}
.product-img img {
  max-width: 100%;
}
.product-content {
  margin-bottom: 0.6em;
}
.product-content h3 {
  margin: 0.2em 0;
}
.product-content p {
  margin: 0.2em 0;
}
.product-content span {
  margin: 0.2em 0;
  font-weight: bolder;
  background-image: url("../images/cash.png");
  background-size: cover;
  padding: 0.3em;
}
.blog .img {
  width: 100%;
  height: 150px;
  background: url("../images/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.blog h2 {
  background-color: #dfd3d3;
  margin: 050px 0px 0px 0;
  padding: 0.4em;
  font-family: "Leckerli One", cursive;
}
.blog button {
  padding: 0.7em;
  font-weight: bold;
  background-color: #7d6556;
  outline: none;
  border: none;
  color: white;
  border-radius: 3px;
}
.testimonies {
  background-color: #bca49d;
  padding: 2em;
}
.testimony {
  text-align: center;
}
.testimony-img img {
  max-width: 100%;
  border-radius: 10em;
  box-shadow: -1px 0px 20px 1px grey;
}
.testimony-img {
  width: 10em;
  height: 10em;
  border-radius: 10em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 1.2em auto;
}

.testimony-name {
  font-weight: bold;
  font-family: "Leckerli One", cursive;
}

.hours {
  margin: 2em 0;
}
.hours .mobile table {
  margin: auto;
}
.hours p {
  margin-top: 0;
}
.social {
  display: flex;
  justify-content: center;
}

.social-icon {
  width: 2em;
  height: 2em;
  border-radius: 2em;
  margin: 0 0.5em;
  cursor: pointer;
}

.social-icon img {
  max-width: 100%;
}
footer {
  margin-top: 2em;
  text-align: center;
  margin-bottom: 1em;
}
.social-top {
  width: 300px;
  text-align: end;
  position: absolute;
  right: 0;
  top: 3em;
}
.social-top p {
  margin: 0.2em;
  font-family: "PatuaOne";
}
.social-top img {
  margin: 0 0.2em;
  width: 1.6em;
  cursor: pointer;
}
.social-top a,
.social a {
  text-decoration: none;
  font-family: "PatuaOne";
  color: black;
}
.desktop {
  display: none;
}

/* HOME CSS : These style rules from this point will be used to 
style the home page, the rest will be added afterwards */

.desktop-nav {
  width: 100%;
  background-color: #7d6556;
  color: white;
  margin-bottom: 4em;
}
.desktop-nav ul {
  display: flex;
  list-style: none;
  margin: auto;
  justify-content: flex-end;
  max-width: 1000px;
}
.desktop-nav li {
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.6em 0em 0.6em 1.6em;
}
.desktop-nav a {
  color: white;
}

/* GALLERY CSS */
.cake {
  border-right: 0.1em rgb(82, 79, 79) solid;
  border-left: 0.1em rgb(82, 79, 79) solid;
  border-bottom: 0.1em rgb(82, 79, 79) solid;
  padding: 0.5em;
  margin: 0.5em;
  box-shadow: rgb(185, 184, 180) 0.5em 0.5em 0.5em;
}

.gallery {
  margin: auto;
  max-width: 1000px;
  text-align: center;
}
/* ORDER CSS */
main {
  overflow: hidden;
}
.order {
  max-width: 1000px;
  margin: auto;
}

#container {
  padding: 0 2em;
  display: block;
  margin: auto;
  justify-content: space-between;
}
#float {
  float: right;
  width: 50%;
  margin-right: 2em;
}
.order-form {
  width: 100%;
}
.order-form select {
  width: 100%;
  padding: 0.6em;
  outline: none;
  border: 1px solid gray;
  border-radius: 0.3em;
}
.order-form h4 {
  margin-bottom: 0;
}
.order-form textarea {
  resize: none;
  width: 100%;
}
#paymnt {
  width: 100%;
}
#paymnt input[type="text"] {
  width: 100%;
  padding: 0.6em;
  outline: none;
  border: 1px solid gray;
  border-radius: 0.3em;
}
.card-numbers {
  display: flex;
  justify-content: space-between;
}
.card-numbers input[type="number"]:nth-child(1) {
  width: 60%;
  padding: 0.6em;
  outline: none;
  border: 1px solid gray;
  border-radius: 0.3em;
}
.card-numbers input[type="number"]:nth-child(2) {
  width: 20%;
  padding: 0.6em;
  outline: none;
  border: 1px solid gray;
  border-radius: 0.3em;
}

#paymnt button {
  margin-top: 2em;
  width: 60%;
  padding: 0.6em;
  background-color: #7d6556;
  color: #dfd3d3;
  outline: none;
  border: none;
  border-radius: 0.4em;
  font-weight: bold;
  cursor: pointer;
}

/* ABOUT CSS */
.about {
  max-width: 1000px;
  margin: auto;
  padding: 0 1.4em;
}

#contact-us {
  text-align: center;
  padding: 30px;
  background-color: #7d6556;
  max-width: 600px;
  margin: auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.contact-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact-us h3 {
  color: white;
}
#contact-us label {
  font-size: 11px;
  color: white;
}
#contact-us input {
  display: block;
  margin: 5px 0px;
  padding: 10px;
  outline: none;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#contact-us textarea {
  display: block;
  margin: 5px 0px;
  padding: 10px;
  outline: none;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  resize: none;
}
.form-submit-btn {
  background-color: #bca49d;
  color: white;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1em;
}
.owners {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.owners div {
  width: 100%;
}
.owner {
  max-width: 15em;
}
.owner h4 {
  font-family: "Leckerli One", cursive;
  margin: 0;
}
.owner img {
  max-width: 100%;
  border-radius: 100%;
  box-shadow: -1px 0px 20px 1px grey;
}
.about {
  text-align: center;
}
.about h1,
h1 {
  font-family: "Leckerli One", cursive;
}

@media screen and (min-width: 950px) {
  .mobile-nav,
  .mobile {
    display: none;
  }
  .logo {
    margin: 0;
  }
  .desktop {
    display: block;
  }
  .side-bar {
    width: 30%;
  }
  .main {
    padding: 0 2em;
  }
  .slides img {
    width: 100%;
    height: 100%;
  }
  .products,
  .testimonies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .product {
    width: 30%;
  }
  .blog p,
  .blog button {
    text-align: left;
  }
  .owners {
    flex-direction: row;
  }
  .owners div {
    width: 27%;
  }
  #container {
    display: flex;
  }
  #paymnt {
    width: 40%;
  }
  .order-form {
    width: 50%;
  }
}
